@using PagedList.Mvc  
@model PagedList.IPagedList<MovieTracker.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<table class="table table-striped table-hover">
    <tr>
        
        <th>
            @Html.ActionLink("Title", "Index")
        </th>
        <th>
            @Html.ActionLink("Year", "Index")
        </th>
        <th>
            @Html.ActionLink("Director", "Index")
        </th>
        <th>
            @Html.ActionLink("Plot", "Index")
        </th>
        <th>
            @Html.ActionLink("Actors", "Index")
        </th>
        <th>
            @Html.ActionLink("Genres", "Index")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href = '@(Url.Action("Details",new { id=item.MovieId }))'">
        
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreString)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MovieId })
            <!--@Html.ActionLink("Details", "Details", new { id = item.MovieId })-->
            @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
        </td>
    </tr>
}

</table>
<br />
<div id='Paging' style="text-align:center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>  


